<div class="container mt-5">
	<div class="row mb-5">
		<div class="col-lg-12 text-center">
			<h2 class="mb-3"><strong>Who</strong> We Are</h2>
			<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat.</p>
			<a class="btn btn-outline btn-light mr-1 mb-2">Read More</a>
		</div>
	</div>
</div>
<section class="section section-tertiary section-no-border mb-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="heading-dark">Explore The Marketplace</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-3">
				<div class="feature-box feature-box-style-4" >
					<div class="feature-box-icon">
						<i class="fas fa-paint-brush"></i>
					</div>
					<div class="feature-box-info">
						<h4 class="mb-2">Graphics & Design</h4>
						<p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing metus elit.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="feature-box feature-box-style-4" >
					<div class="feature-box-icon">
						<i class="fab fa-earlybirds"></i>
					</div>
					<div class="feature-box-info">
						<h4 class="mb-2">Digital Marketing</h4>
						<p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="feature-box feature-box-style-4" >
					<div class="feature-box-icon">
						<i class="far fa-file-alt"></i>
					</div>
					<div class="feature-box-info">
						<h4 class="mb-2">Writing & Translation</h4>
						<p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="feature-box feature-box-style-4" >
					<div class="feature-box-icon">
						<i class="fas fa-video"></i>
					</div>
					<div class="feature-box-info">
						<h4 class="mb-2">Video and Animation</h4>
						<p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing metus elit.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row mt-lg-3">
			
			<div class="col-lg-3">
				<div class="feature-box feature-box-style-4" >
					<div class="feature-box-icon">
						<i class="fas fa-microphone"></i>
					</div>
					<div class="feature-box-info">
						<h4 class="mb-2">Music & Audio</h4>
						<p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="feature-box feature-box-style-4" >
					<div class="feature-box-icon">
						<i class="fas fa-desktop"></i>
					</div>
					<div class="feature-box-info">
						<h4 class="mb-2">Programming & Tech</h4>
						<p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="feature-box feature-box-style-4" >
					<div class="feature-box-icon">
						<i class="fas fa-briefcase"></i>
					</div>
					<div class="feature-box-info">
						<h4 class="mb-2">Business</h4>
						<p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing metus elit.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="feature-box feature-box-style-4" >
					<div class="feature-box-icon">
						<i class="fab fa-slideshare"></i>
					</div>
					<div class="feature-box-info">
						<h4 class="mb-2">Fun & Lifestyle</h4>
						<p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>