<section class="ee-hero-section head-hero head-bg-oded  head-full-screen-logobar" style="padding:0;">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-8 col-md-6 col-lg-6">
        <h1 class="m-t-md m-b-lg">Get More Done<br/>Quickly and Conveniently</h1>
      </div>
    </div>
  </div>
</section>        
<section  class="features-section bg-cloud">
  <div class="container hiring-cases-wrapper">
    <ul class="row text-carbon list-unstyled m-b-0">
      <li class="title item col-12 col-lg-3 offset-lg-0">
        <h4 class="font-gotham">
          Hire for any scope of work:
        </h4>
      </li>
      <li class="item col-12 col-lg-3 offset-lg-0 col-sm-4 offset-sm-0">
        <div class="use-case">
          <h4 class="font-gotham-bold">
            Short-term tasks
          </h4>
          <span class="font-gotham text-short">
            Build a pool of diverse experts for one-off tasks
          </span>
        </div>
      </li>
      <li class="item col-12 col-lg-3 offset-lg-0 col-sm-4 offset-sm-0">
        <div class="use-case">
          <h4 class="font-gotham-bold">
            Recurring projects
          </h4>
          <span class="font-gotham text-short">
            Have a go-to team with specialized skills
          </span>
        </div>
      </li>
      <li class="item col-12 col-lg-3 offset-lg-0 col-sm-4 offset-sm-0" ng-scroll-impression="hiring-use-cases">
        <div class="use-case">
          <h4 class="font-gotham-bold">
            Full-time contract work
          </h4>
          <span class="font-gotham text-short">
            Expand your staff with a dedicated team
          </span>
        </div>
      </li>
    </ul>
  </div>
</section>  
      
<section class="services-section text-center">
  <div class="">
    <h2 class="m-b-xl m-t-xl">Build a pool of trusted experts for your team</h2>

    <ul class="llist list-unstyled clearfix m-b-xl">
              <li>
          <a href="#" class="service">
              <span class="front">
                <i class="fas fa-mouse-pointer"></i>
                <span class="service-title">Web developers</span>
              </span>
          </a>
        </li>
              <li>
          <a href="#" class="service">
              <span class="front">
                <i class="fas fa-mobile-alt"></i>
                <span class="service-title">Mobile developers</span>
              </span>
          </a>
        </li>
              <li>
          <a href="#" class="service">
              <span class="front">
                <i class="far fa-object-ungroup"></i>
                <span class="service-title">Designers &amp; Creatives</span>
              </span>
          </a>
        </li>
              <li>
          <a href="#" class="service">
              <span class="front">
                <i class="far fa-edit"></i>
                <span class="service-title">Writers</span>
              </span>
          </a>
        </li>
              <li>
          <a href="#" class="service">
              <span class="front">
                <i class="fas fa-hands-helping"></i>
                <span class="service-title">Virtual assistants</span>
              </span>
          </a>
        </li>
              <li>
          <a href="#" class="service">
              <span class="front">
                <i class="fas fa-user-secret"></i>
                <span class="service-title">Customer service agents</span>
              </span>
          </a>
        </li>
              <li>
          <a href="#" class="service">
              <span class="front">
                <i class="fas fa-briefcase"></i>
                <span class="service-title">Sales &amp; marketing experts</span>
              </span>
          </a>
        </li>
              <li>
          <a href="#" class="service">
              <span class="front">
                <i class="fas fa-calculator"></i>
                <span class="service-title">Accountants &amp; consultants</span>
              </span>
          </a>
        </li>
          </ul>
      </div>
    </section>      

          
<section class="section-text-blocks how-it-works bg-cloud p-b-lg p-t-xl">
  <div class="text-center">
    <h2 class="m-b-xl">How it works</h2>    
      <div class="row">
        <div class="m-b-xl col-sm-4 col-lg-3 offset-lg-0 offset-sm-1">
            <article class="text-block">
              <header>
                <i class="fas fa-search"></i>
                <hr>              
              </header>
                              
              <h3 class="text-uppercase m-b-lg">
                  FIND
                </h3>  <p class="text-short">Post a job to tell us about your project. We'll quickly match you with the right freelancers.</p>            
            </article>
          </div>
          <div class="m-b-xl col-sm-4 col-lg-3 offset-lg-0 offset-sm-1">
            <article class="text-block">
              <header>
                 <i class="fab fa-hire-a-helper"></i>
                <hr>              
              </header>
                              
              <h3 class="text-uppercase m-b-lg">
                  HIRE
                </h3>  <p  class="text-short">Browse profiles, reviews, and proposals then interview top candidates. Hire a favorite and begin your project.</p>            
            </article>
          </div>
          <div class="m-b-xl col-sm-4 col-lg-3 offset-lg-0 offset-sm-1">
            <article class="text-block">
              <header>
                 <i class="fas fa-briefcase"></i>
                <hr>              
              </header>
                              
              <h3 class="text-uppercase m-b-lg">
                  WORK
                </h3>  <p class="text-short">Use the Upwork platform to chat, share files, and collaborate from your desktop or on the go.</p>            
            </article>
          </div>
          <div class="m-b-xl col-sm-4 col-lg-3 offset-lg-0 offset-sm-1">
            <article class="text-block">
              <header>
                 <i class="far fa-money-bill-alt"></i>
                <hr>              
              </header>
                              
              <h3 class="text-uppercase m-b-lg">
                  PAY
                </h3>  <p  class="text-short">Invoicing and payments happen through Upwork. With Upwork Protection, only pay for work you authorize.</p>            
            </article>
          </div>
      </div>
    </div>    
</section>