    <div class="container jobs py-4">
      <div class="row">
        <div class="col-12 text-center">
          <h4>My Jobs as Worker</h4>
        </div>
      </div>
      
      <div class="panel-body">
        <div class="table-responsive">
        <table class="table table-jobs table-bjobed table-bordered table-job">
        <thead>
          <tr>
            <th>Title</th>
          <th>Description</th>
            <th>Amount</th>
            <th>Actions</th>
          </tr>
        </thead>
      
        <tbody>
          <% @jobs.each do |job| %>
            <tr>
              <td><%= job.title %></td>
              <td><%= job.description %></td>
              <td><%= job.amount %></td>
              <td><%= link_to "View Details", job_path(job.slug), class:"btn btn-link btn-md" %>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
      </div>
      <br>
    
    </div>