<div class="container-fluid dash-container" style="padding:0">
    <ul class="dashnav" style="overflow:hidden;">
        <li>
            <% if controller_name=="admin_panel" and action_name=="index" %>
                <a class="active" href="/admin_panel">Dashboard</a>
            <% else %>
                <a href="/admin_panel">Dashboard</a>
            <% end %>
        </li>
        <li>
            <% if controller_name=="chat_engine" and action_name=="index" %>
                <a class="active" href="/messenger/inbox">Inbox</a>
            <% else %>
                <a href="/messenger/inbox">Inbox</a>
            <% end %>
        </li>
        <li>
            <% if controller_name=="admin_panel" and action_name=="payments" %>
                <a class="active" href="/admin_panel/payments">Payments</a>
            <% else %>
                <a href="/admin_panel/payments">Payments</a>
            <% end %>
        </li>
        <li>
            <% if controller_name=="admin_panel" and action_name=="jobs" %>
                <a class="active" href="/admin_panel/jobs">Jobs </a>
            <% else %>
                <a href="/admin_panel/jobs">Jobs</a>
            <% end %>
        </li>
        
        <li>
            <% if controller_name=="admin_panel" and action_name=="reservations" %>
                <a class="active" href="/admin_panel/reservations">Reservations</a>
            <% else %>
                <a href="/admin_panel/reservations">Reservations </a>
            <% end %>
        </li>
        
        <li>
            <% if controller_name=="variables" %>
                <a class="active" href="/variables">Variables</a>
            <% else %>
                <a href="/variables">Variables</a>
            <% end %>
        </li>
        <li>
            <% if controller_name=="categories" %>
                <a class="active" href="/categories">Categories</a>
            <% else %>
                <a href="/categories">Categories</a>
            <% end %>
        </li>
        
        <li class="float-right">
            <% if user_signed_in? and current_user.admin %>
      			<a href="<%= main_app.destroy_user_session_path %>" data-method="delete">Log Out</a>
      		<% end %>
        </li>
        
        <li>
            <% if controller_name=="admin_panel" and action_name=="notifications" %>
                <a class="active" href="/admin_panel/notifications">Notifications</a>
            <% else %>
                <a href="/admin_panel/notifications">Notifications<span class="badge badge-danger" id="notification-counter"><%= current_user.notifications.where(read: false).count %> </span></a>
            <% end %>
        </li>
    </ul>
</div>