<div class="container-fluid dash-container" style="padding:0">
    <ul class="dashnav">
        <li>
            <% if controller_name=="admin_panel" and action_name=="index" %>
                <a class="active" href="/admin_panel">Dashboard</a>
            <% else %>
                <a href="/admin_panel">Dashboard</a>
            <% end %>
        </li>
        <li>
            <% if controller_name=="admin_panel" and action_name=="payments" %>
                <a class="active" href="/admin_panel/payments">Payments</a>
            <% else %>
                <a href="/admin_panel/payments">Payments</a>
            <% end %>
        </li>
        <li>
            <% if controller_name=="admin_panel" and action_name=="jobs" %>
                <a class="active" href="/admin_panel/jobs">Jobs <span class="badge badge-danger"><%= Job.where(status: "PENDING").count || 0 %> </span></a>
            <% else %>
                <a href="/admin_panel/jobs">Jobs <span class="badge badge-danger"><%= Job.where(status: "PENDING").count || 0 %> </span></a>
            <% end %>
        </li>
        
        <li>
            <% if controller_name=="admin_panel" and action_name=="reservations" %>
                <a class="active" href="/admin_panel/reservations">Reservations <span class="badge badge-danger"><%= Reservation.where(status: "PENDING").count || 0 %> </span></a>
            <% else %>
                <a href="/admin_panel/reservations">Reservations <span class="badge badge-danger"><%= Reservation.where(status: "PENDING").count || 0 %> </span></a>
            <% end %>
        </li>
        
        <li>
            <% if controller_name=="variables" %>
                <a class="active" href="/variables">Variables</a>
            <% else %>
                <a href="/variables">Variables</a>
            <% end %>
        </li>
        
    </ul>
</div>